@font-face {
    font-family: 'clementepdacextralight';
    src: url('clementFont/clementepdac-extralight-webfont.woff2') format('woff2'),
         url('clementFont/clementepdac-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(media/background/poster_img.png) no-repeat;
  background-size: cover;
}

/*svg {
  display: none;
}*/
img#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 5%;
  width: 50%;
}

div.button-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button-line button {
  font-family: clementepdacextralight;
  font-size: 24px;
  border: 0px;
  height: 60px;;
  width: 20%;
  margin-bottom:  10px;
  margin-left : 15px;
  margin-right: 15px;
}

.transparent {
  background: rgba(255, 255, 255, 0.5);
}

div#holambier, div#holambra, div#bieren, div#contato {
  display: none;
}

div.inner-page {
  position: absolute;
  margin: 0;
  padding-left: 2%;
  padding-top: 2%;
  width: 100%;
  height: 100%;
}

.inner-page > h1 {
  font-family: clementepdacextralight;
  font-size: 40px;
  color: white;
  width: 450px;
  line-height: 50px;
  margin-bottom: 25px;
}

.inner-page > p {
  font-family: clementepdacextralight;
  letter-spacing: 0.7px;
  color: white;
  width: 450px;
  line-height: 30px;
}

.inner-page > h4 {
  font-family: clementepdacextralight; /* This font needs to be changed */
  color: white;
}

div.bieren-inner-page {
  position: absolute;
  margin: 0;
  padding-left: 2%;
  padding-top: 2%;
  width: 100%;
  height: 100%;
}

.bieren-inner-page > h1 {
  font-family: clementepdacextralight;
  font-size: 40px;
  color: white;
  width: 800px;
  line-height: 50px;
  margin-bottom: 25px;
}

.bieren-inner-page > p {
  font-family: clementepdacextralight;
  font-weight: 900;
  letter-spacing: 1px;
  color: white;
  width: 800px;
  line-height: 30px;
}

.bieren-inner-page > h4 {
  font-family: clementepdacextralight; /* This font needs to be changed */
  color: white;
}

.small-logo {
  width: 15%;
  margin-bottom: 5%;
}
div.description-box {
  display: none;
  position: absolute;
  background-color: white;
  font-family: clementepdacextralight;
  width: 70%;
  height: 70%;
  margin: 8% auto;
  padding: 50px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.description-box button {
  background: white;
  border: none;
  font-size: 20px;
  margin: -4.5%;
  position: relative;
  float: right;
}

.description-box p {
  font-size: 12px;
}

.description-box h2 {

}

div.holambra-button-line {
  display: flex;
  position: absolute;
  flex-flow: row wrap;
  bottom: 25%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  justify-content: center;
}

.holambra-button-line button {
  font-family: clementepdacextralight;
  font-size: 20px;
  color: white;
  border: 2.5px solid white;
  background: rgba(255, 255, 255, 0.0);
  width: 250px;
  height: 45px;
  margin-left: 35px;
}

div.serveja-button-line {
  display: flex;
  position: absolute;
  flex-flow: row wrap;
  bottom: 20%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  justify-content: center;
}

.serveja-button-line button {
  font-family: clementepdacextralight;
  font-size: 20px;
  color: white;
  border: 2.5px solid white;
  background: rgba(255, 255, 255, 0.0);
  width: 250px;
  height: 45px;
  margin-left: 35px;
}

div.contact-page {
  display: flex;
  position: absolute;
  flex-flow: column wrap;
  bottom: 50%;
  margin-bottom: -250px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 500px;
  align-items: center;
  justify-content: center;
}


.contact-page button {
  font-family: clementepdacextralight;
  font-size: 20px;
  color: white;
  border: 2.5px solid white;
  background: rgba(255, 255, 255, 0.0);
  width: 250px;
  height: 45px;
}

.contact-page h1 {
  font-family: clementepdacextralight;
  color: white;
  margin-bottom: 30px;
}

.contact-page h2 {
  font-family: clementepdacextralight;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.map-image {
  position: absolute;
  right: 0;
  width: 600px;
  height: 600px;
}

.social-icon-image {
  height: 70px;
  width: 350px;
}
