@font-face {
    font-family: 'clementepdacextralight';
    src: url('clementFont/clementepdac-extralight-webfont.woff2') format('woff2'),
         url('clementFont/clementepdac-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(media/background/poster_img.png) no-repeat;
    background-size: cover;
}
img#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 10px;
}

div.button-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button-line button {
  font-family: clementepdacextralight;
  font-size: 24px;
  border: 0px;
  height: 60px;;
  width: 20%;
  margin-bottom:  10px;
  margin-left : 15px;
  margin-right: 15px;
}

.transparent {
  background: rgba(255, 255, 255, 0.5);
}

div#holambier, div#holambra, div#bieren, div#contato {
  display: none;
}

div.inner-page {
  position: absolute;
  width: 100%;
}

.inner-page > h1 {
  font-family: clementepdacextralight;
  color: white;
  width: 450px;
  line-height: 50px;
  margin-bottom: 25px;
}

.inner-page > p {
  font-family: clementepdacextralight;
  color: white;
  width: 450px;
  line-height: 30px;
}

.inner-page > h4 {
  font-family: clementepdacextralight;
  color: white;
}

div.description-box {
  display: none;
  position: absolute;
  background-color: white;
  font-family: clementepdacextralight;
  width: 70%;
  height: 70%;
  margin: 8% auto;
  padding: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.description-box span {
  margin: -4.5%;
  position: relative;
  float: right;
}

.description-box p {
  font-size: 12px;
}

.description-box h2 {

}

div.holambra-button-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
